{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
 
    <div class="container-fluid">
        <div class="row">
            <!-- About us image -->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    <img class="card-img-top img-fluid" src="/media/crwstabout.jpg" alt="Crwst Team">
                </div>
            </div>
            <!-- About us text -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h3>Who are we?</h3>
                    <p>We are Crwst and we are a local bakery looking to serve you the freshest and tastiest baked goods. 
                        We bake all of our sweet bakes, breads and savouries in house and offer an online purchase and delivey service.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}