{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Blog {{data.blog_title}}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <!-- Blog post -->
        <div class="row">
            <!-- Blog title -->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2 my-5">
                <h3>{{data.blog_title}}</h3><br>
            </div>
            <!-- Blog text -->
            <div class="col-12 col-md-6 col-lg-4 mb-5 mt-md-5">
                <h3>Blog</h3>
                <!-- Edit/delete buttons for superuser -->
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_blog' _id=data.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_blog' _id=data.id %}" onclick="return confirm('Are you sure you want to delete this blog post?');">Delete</a>
                    </small>
                {% endif %}
                <!-- Blog post text-->
                <p>{{data.blog}}</p>
                <hr/>
                <a href="{% url 'blogs' %}">Go Back</a>
            </div>
        </div>
        <!-- Comments -->
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2 my-3">
                <!-- Option to post comment or sign up-->
                <div class="mb-5">
                    {% if user.is_authenticated %}
                        <form method="post">
                            {% csrf_token %}
                            <H5>Comments</H5>
                            {{form.as_p}}
                            <input class="btn btn-style rounded-0" type ="submit" value="Publish">
                        </form>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <p>To post a comment please <a href="{% url 'account_login' %}">log in or sign up.</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Posted comments -->
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2 my-3">
                <div class="mb-5 ml-3">
                    {% for comment in comments %}
                        <strong>{{comment.author}}</strong><br><em>{{comment.created}}</em>
                        <p>{{comment.comment_text}}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Return to top button -->
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
// Back to top functionality 
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{%endblock %}